@inherits LayoutComponentBase

<div class="page" style="display: flex;">
    <div class="sidebar">
        <Sidebar />
    </div>
    @*<Sidebar />*@
    <main style="display: flex">
        @*<Navbar />*@
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
