<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .user-img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 3px solid #eee;
    }
    .sidebar{
        position: static;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80px;
        background-color: #222;
        padding: .4rem .8rem;
        transition: all 0.5s ease;
    }
    .sidebar.active{
        width: 250px;
    }
    .top{
        display: flex;
    }
    .sidebar #btn{
        position: static;
        color: white;
        top: .4rem;
        left: 5%;
        font-size: 1.2rem;
        line-height: 50px;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .sidebar.active #btn{
        left: 17%;
    }
    .sidebar .top .logo{
        color: white;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        pointer-events: none;
        
    }

        .sidebar .top .logo span{
            opacity: 0;
        }
        .sidebar.active .top .logo span{
        opacity: 1;
    }
    .top .logo i{
        font-size: 2rem;
        margin-right: 5px;
    }
    .user{
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    .user p{
        color: white;
        opacity: 1;
        margin-left: 1rem;
    }
    .bold{
        font-weight: 600;
    }
    .sidebar p{
        opacity: 0;
    }

    .sidebar.active p {
        opacity: 1;
    }
    .sidebar ul li{
        position: relative;
        list-style-type: none;
        height: 50px;
        width: 90%;
        margin: 0.8rem auto;
        line-height: 50px;

    }
    .sidebar ul li a{
        color: white;
        text-decoration: none;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        
    }
    .sidebar ul{
        padding-left: 0;
    }
    .sidebar ul li a:hover{
        background-color: teal;
        color: whitesmoke;
    }
    .sidebar ul li a i{
        min-width: 50px;
        text-align: center;
        height: 50px;
        border-radius: 12px;
        line-height: 50px;
    }
    .sidebar .nav-item{
        opacity: 0;
    }

    .sidebar.active .nav-item {
        opacity: 1;
    }
    .sidbar ul li .tooltip{
        position: absolute;
        left: 125px;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
        border-radius: .6rem;
        padding: .4rem 1.2rem;
        line-height: 1.8rem;
        z-index: 20;
        opacity: 0;
    }

    .sidbar ul li:hover .tooltip {
        opacity: 1;
    }
</style>

<div class="sidebar @isToggled">
    <div class="top">
        <div class="logo">
            <i class="bx bxl-codepen"></i>
            <span>CodeCommerce</span>
        </div>
        <i class="bx bx-menu" id="btn" @onclick="@ToggleNavbar"></i>
    </div>
    <div class="user">
        <img src="./freeimage.jpg" alt="" class="user-img"/>
        <div>
            <p class="bold">Praise</p>
            <p>Admin</p>
        </div>
    </div>
    <ul>
        <li>
            <a href="#">
                <i class="bx bx-location-plus"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-list-check"></i>
                <span class="nav-item">Contacts</span>
            </a>
            <span class="tooltip">Contacts</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-key"></i>
                <span class="nav-item">Credentials</span>
            </a>
            <span class="tooltip">Credentials</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Events</span>
            </a>
            <span class="tooltip">Events</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="nav-item">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
    </ul>

</div>

@code {
    private string isToggled = "";
    private void ToggleNavbar()
    {
        isToggled = string.IsNullOrWhiteSpace(isToggled) ? "active" : string.Empty;
    }
}
